.mainnavbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.logincard {
    position: absolute;
    top: 14em;
    right: 20em;
    width: 20em;
    color: black;
}

#email,
#password,
#pnum,
#potp {
    background: rgba(91, 88, 88, 0.738);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(236, 209, 209, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#emailg,
#passwordg {
    margin-bottom: 2em;
}

#adminp {
    font-size: 20em;
    opacity: 0.5;
    transform: rotate(-40deg);
    translate: -230px -150px;
}


.logo>p {
    font-size: 7em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pnum,
#potp {
    height: 2em;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-bottom: 2em;
}

/* Button[type="submit"] {
    float: right;
    margin-bottom: 1em;
} */

#potp {
    width: 13em;
    margin-left: 1em;
}

.footericons,
span {
    padding-left: 0.3em;
}

.contact {
    margin-bottom: 1em;
}

/* ------------------------------------------ */

.navlinks {
    /* font-family: 'Andika', 'Arial Narrow', Helvetica, Arial, Verdana, Tahoma, sans-serif; */

    margin: 0;
    padding: 0;
}

.mainfooter {
    position: relative;
    bottom: 0;
    width: 100%;    
    z-index: 0;

}

.theme
{
    position: fixed;
    z-index: 3;
    top: 1em;
    right: 1em;
}

/* user dashboard */

.span{
    color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.butt{
    transform: rotate(-40deg);
    margin-top:2em;
    margin-bottom:7em;
    height:15em;
    width: 15em;
    translate:-4.5em;
    
}
.resForm{
    height: 100vh;
    width: 80%;
    margin-left:4em;
    margin-top: 3em;
}
.userDash{
    display: flex;
    justify-content: baseline;
}
.resultform{
    position: absolute;
    top: 1em;
    left: 10em;
    z-index: 1;
}
.cardHolder{
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    position: absolute;
    top: 15em;
}
.Dp>p::before{
    content: '\2713';
    display: inline-block;
    color: rgb(16, 136, 0);
    padding: 0 6px 0 0;
}
.Dp>p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Dh{
    font-family: cursive;
    padding: 0.5em;
}


/* NEET asp form */
.resultform{
    position: absolute;
    top: 7em;
    margin-left: 10em;
}

.Neetdemo{
    display: flex;
}
.Neetdemo>h1{
    font-size: 5em;
    margin-left: 1em;
}
.Neetdemo>p{
    font-size: 2em;
    margin-left: 4em;
}





/* user login                          */
.usermodal{
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    /* margin-top:10em; */
    padding-top: 10em;
}
.userlog {
    /* width: 25em; */
    height: 20em;
    z-index: 0;
    background-color:rgb(234, 236, 246);
    color: black;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
}
.p1{
    padding: 2em;
    color: white;
    background-color: rgb(57, 77, 149,1);
}
.p2{
    padding-top: 2em;
}


/* Top page            */

.MainImage{
    background-image: url('../src/Images/neetImg.jpg');
    height: 80vh;
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.3;
}
.Neet{
    font-size: 7em;
    font-weight: 600;
    position: absolute;
    top: 2em;
    left: 1em;
}
.Find{
    font-size: 2em;
    font-weight: 400;
    position: absolute;
    top: 11em;
    left: 4em;
}
.MainPage{
    height: 20em;
    margin: -3em 6em -17em 6em;
    position: relative;
    top: -12em;
    padding-top: 1em;
}
.logoName{
    position: absolute;
    top: 0;
    color: rgb(0, 0, 0);
}
/* about page                          */
.aboutp>p,.aboutp>h3{
    margin-left: 2em;
}
.aboutp{
    position: relative;
    top: -10em;
    margin: -3em 6em -10em 6em;
    width: 60%;
    border-radius: 0 50% 0 0;
}
.aboutp>p::before{
    content: '\2713';
    display: inline-block;
    color: rgb(255, 32, 32);
    padding: 0 6px 0 0;
}
/* admin page               */
.adminside{
    position: absolute;
    right: 30em;
    top: 3em;
    width: 0;
	height: 0;
	border-top: 20em solid transparent;
	border-right: 25em solid white;
	border-bottom: 20em solid transparent;
    opacity: 0.6;
}
.adminsides{
    background-color: white;
    position: absolute;
    right: 0;
    top: 5em;
    width: 30em;
    height: 38em;
    opacity: 0.6;
}


#logoName{
    position: absolute;
    top: 17em;
    background-color: white;
    opacity: 0.6;
}
.hrline{
    position: relative;
    top: -4em;
    border: none;
    height: 12px;
    background: black;
    color: black;
}


/* admin dashboard             */

.header{
    height: 90vh;
    z-index: 1;
    position: absolute;
    width: 20%;
}

.gridbox{
    width: 80%;
    margin-left: 20%;
    z-index: 0;
    position: absolute;
    top:10em
}

.mainpage{
    display: flex;
    
}
.collegeList{
    width: 40em;
    height: 30em;
    overflow: hidden;
}
.List2{
    width: 40em;
    height: 30em;
    overflow: hidden;

}
.ClgImg{
    background-image: url('../src/Images/neetClg.png');
    width: 40em;
    height: 30em;
    background-position:initial;
    background-repeat: no-repeat;
    opacity: 0.8;
}